@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

.btn1 {
    @apply bg-gray-500 text-white px-1 m-1 rounded hover:bg-gray-700
}

.txtin {
    @apply h-8 m-1.5
}

.nav1 {
    @apply bg-gray-800 text-white text-xl
}

.nav-link {
    @apply block py-2 px-2 rounded hover:bg-gray-700 transition duration-200
}